.main{
	background-color: #ddd;
	border:1px solid skyblue;
	display:flex;
	flex-direction: row;
}

.profile{
	padding:2%;
	margin:2%;
	width:30%;
	font-size:25px;
	text-align: center;
	border-radius:10%;
	background-color: #fff;
	border: 4px solid pink;
	}
	.profile img{
		width:200px;
		border-radius: 50%;
		border: 2px solid blue;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	.content{
		padding:2%;
		margin:2%;
		width:70%;
		border-radius: 20px;
		background-color: #fff;
		border:2px solid pink;
}

@media only screen and (max-width:480px){
.main{
	background-color: #ddd;
	border:2px solid skyblue;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.profile{
	padding:2%;
	width:92%;
	margin:2%;
	font-size:25px;
	text-align: center;
	border-radius:10%;
	background-color: #fff;
	border: 2px solid pink;
	}
	.profile img{
		width:200px;
		border-radius: 50%;
		border: 1px solid blue;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	.content{
		padding:2%;
		margin:2%;
		width:92%;
		border-radius: 10%;
		background-color: #fff;
		border:2px solid pink;
}
}


@media only screen and (min-width:481px) and (max-width:768px){
.main{
	background-color: #ddd;
	border:2px solid skyblue;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.profile{
	padding:4%;
	width:92%;
	margin:4%;
	font-size:35px;
	text-align: center;
	border-radius:10%;
	background-color: purple;
	border: 2px solid pink;
	}
	.profile img{
		width:200px;
		border-radius: 50%;
		border: 1px solid blue;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	.content{
		padding:4%;
		margin:4%;
		width:92%;
		border-radius: 10%;
		background-color: #fff;
		border:2px solid pink;
}


}


@media only screen and (min-width:769px) and (max-width:1024px){
.main{
	background-color: #ddd;
	border:2px solid skyblue;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.profile{
	padding:4%;
	width:92%;
	margin:4%;
	font-size:35px;
	text-align: center;
	border-radius:10%;
	background-color: purple;
	border: 2px solid pink;
	font-style: oblique;
	}
	.profile img{
		width:200px;
		border-radius: 50%;
		border: 1px solid blue;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	.content{
		padding:4%;
		margin:4%;
		width:92%;
		border-radius: 10%;
		background-color: red;
		border:2px solid pink;
		font-style:oblique;
}


}

table {
	width:92%;
}

tr:nth-child(even){
	background:#A2C3D3;
}
td{
	padding:1%;
}
